.read-more-container .content-container {
    position: relative;
}

.read-more-container .content-container .full-content {
    overflow: hidden;
    max-height: 100px; /* Adjust as needed */
    word-wrap: break-word;
    transition: max-height 0.3s ease;
}

.read-more-container .content-container .full-content.show-full-content {
    max-height: none;
}

.read-more-container .content-container button {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    color: black;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
}
