.readmore-wrapper {
    max-height: 100px; /* Set the maximum height for the summary */
    overflow: visible;
    transition: max-height 0.3s ease; /* Add a smooth transition effect */
    position: sticky;
}

.readmore-wrapper.expanded {
    max-height: none; /* Allow full content when expanded */
}
.readmore{
    position: sticky;
}
.full-content {
    position: absolute;
    z-index: 1;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content-3{
    align-content: center;
}
